{{define "footer"}}
            </div>
        </div>
        <div class="w-full py-6 text-slate-300 text-center mt-4 opacity-70">
            Twitter Bookmark Manager - TBM: <a class="text-slate-300 hover:text-yellow-500" href="https://github.com/Webklex/tbm">github.com/webklex/tbm</a>
        </div>

<div class="fixed bottom-6 right-0 flex justify-end hidden md:block pr-6 w-1/3" id="notification-holder"></div>

<script type="application/javascript" src="/js/app.js"></script>
    </body>
</html>
{{end}}